/* Manrope Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;700&display=swap');

* {
    font-family: 'Manrope', sans-serif;
    padding: 0px;
    margin: 0px;
    color: #FFF;

}

/* Header Section */

header {
    background: #141820;
    padding: 30px 120px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-title {
    font-size: 30px;
}

.nav-start>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
}

.nav-start {
    display: flex;
    gap: 50px;
}

.icon {
    color: #FFF;
    margin-right: 5px;
    margin-left: 3px;
}

.btn-quote {
    background: #D70B54;
    padding: 10px 15px;
}

.nav-end {
    display: flex;
    align-items: center;
    gap: 20px;
}

.heading-section {
    margin-top: 120px;
    margin-bottom: 50px;
}

.heading {
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 30px;
}

.nav-paragraph {
    font-size: 20px;
    margin-bottom: 30px;
}

.details-btn {
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: rgba(215, 11, 84, 0.00);
    padding: 10px 20px;
}

.heading-end {
    display: flex;
    align-items: center;
    gap: 20px;
}

.phone-box {
    background: #EDF054;
    border-radius: 50px;
}

.phone {
    padding: 10px;
    color: #141820;
}


/* ---Main Section--- */


/* Banner Image */

.text-img {
    position: absolute;
    left: 80%;
    z-index: 10;
    margin-top: -30px;
}

.banner-img {
    width: 100%;
    position: relative;
}

/* Service List */
.list {
    background: #D70B54;
    padding: 20px;
    margin-top: -10px;
}

.list ul {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}

/* About Us Section */
.about-section {
    background: #141820;
}

.about-description {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-box {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    padding: 80px 200px;
    gap: 30px;
}

.about-title {
    font-size: 60px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-list {
    display: flex;
    gap: 80px;
    font-size: 20px;
}

.svg-list {
    margin-bottom: 50px;
}

.svg-name {
    margin-top: 15px;
}



/* ---Group Work Section */
.group-work {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    gap: 80px;
    margin-top: 80px;
}



.goal-li {
    margin-top: 20px;
    font-size: 20px;
}

.seo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.group-img1 {
    position: relative;
}

.text-imag2 {
    position: absolute;
    z-index: 10;
    left: 46.5%;
    margin-top: 100px;
}

.builder-title {
    text-align: center;
    opacity: 0.20;
    color: #FFF;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
}

/* Image Box */
.image-box {
    display: flex;
}

/* Progress Bar */
.progress-container {
    width: 300px;
    margin-bottom: 40px;
}

.progress-bar {
    height: 6px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}

.progress-fill {
    height: 100%;
    background-color: #3FABE3;
}

.progress-label {
    margin-bottom: 10px;
}


/* Expertise-Section */
.expertise-section {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 990px;
    margin: 0 auto;
    padding: 50px 120px;
}

.expertise-title {
    font-size: 60px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.expertise-description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.mail {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Counter-Section */
.counter-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;

}

.counter {
    border-left: 2px solid #FAFF1C;
    padding: 20px;

}

.counter-title {
    font-size: 60px;
    font-weight: 400;
}

/* Team Section */
.team-description {
    text-align: center;
    margin-top: 100px;
}

.team-title {
    font-size: 60px;
}

.member {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 990px;
    margin: 0 auto;
    margin-top: 20px;
}

.member-box {
    width: 282px;
    height: 300px;
    background: #242934;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feedback {
    display: flex;
    align-items: center;
    margin-top: 150px;

}

.client-feedback {
    padding: 30px;
    max-width: 500px;
    margin: 0 auto
}

.client-title {
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.client-description {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.client-img {
    width: 100%;
}

.CEO {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* Post Section */
.post-heading {
    text-align: center;
    margin-top: 100px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description {
    font-size: 20px;
}

.post-card {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.post-card2 {
    border-bottom: 1px solid #D70B54;
    ;
}

#card2 {
    color: #D70B54;
}

.post-img {
    width: 100%;
}

/* Newsletter Section */
/* Style for the container */
.subscribe-container {
    width: 100%;
    max-width: 432px;
    height: 54px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Style for the input box */
.subscribe-input {
    width: calc(100% - 80px);
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    float: left;
}

/* Style for the subscribe button */
.subscribe-button {
    width: 80px;
    height: 100%;
    background-color: #44E8F2;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-size: 16px;
}

.newsletter-box {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.subscribe {
    font-size: 40px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}

.agency {
    color: #FAFF1C;
}

.svg {
    border-radius: 20px;
    border: 1px solid #1CFF40;
    padding: 7.2px 6px;
    margin-right: 4px;
}

.svg-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.newsletter {
    background-image: url(newsBg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

/* Footer Section */
.foot{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}
.foot-title{
    font-size: 30px;
    margin-bottom: 15px;
}

.footer  li {
    margin-bottom: 10px;
    font-size: 20px;
}
.foot-description{
    font-size:20px ;
    margin-bottom: 20px;
}

.video{
    color: #D70B54;
}

.follow{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-second{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.04);
    padding: 40px;
}

/* ---Responsive Styles--- */


/* Small Device */
@media screen and (max-width: 576px) {
    header {
        padding: 10px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-start {
        flex-direction: column;
        align-items: center;
    }


    .about-box {
        flex-direction: column;
        padding: 20px
    }

    .list ul {
        flex-wrap: wrap;
        padding: 5px;
    }

    .group-work {
        flex-direction: column;
        padding: 5px;
    }

    .group-img1 {
        width: 100%;
    }

    .text-img {
        left: 80%;
        width: 20%;
        margin-top: -30px;
    }

    .text-imag2 {
        margin-top: -60px;
    }

    .builder-title {
        font-size: 30px;
    }

    .image-box {
        flex-direction: column;
    }

    .expertise-section {
        flex-direction: column;
        padding: 20px;
    }

    .counter-section {
        flex-wrap: wrap;
    }

    .member {
        grid-template-columns: 1fr;
        margin-left: 30px;
    }

    .feedback {
        flex-direction: column;
    }

    .post-card {
        flex-direction: column;
    }

    .subscribe-container {
        height: auto; 
      }
      
      .subscribe-input {
        width: 100%;
        float: none;
        border-radius: 5px;
      }
    
      .subscribe-button {
        width: 100%;
        height: 30px;
        float: none; 
        border-radius: 5px;
        margin-top: 10px; 
      }

      .footer{
        flex-direction: column;
        padding: 30px;
      }

      .footer-second{
        flex-direction: column;
      }

}

/* Medium Devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-start {
        flex-direction: column;
        align-items: center;
    }

    .about-box {
        flex-direction: column;
        padding: 40px;
    }

    .list ul {
        flex-wrap: wrap;
        padding: 5px;
    }

    .group-work {
        flex-direction: column;
    }

    .group-img1 {
        width: 100%;
    }

    .text-imag2 {
        margin-top: -60px;
    }

    .builder-title {
        font-size: 40px;
    }

    .image-box {
        flex-direction: column;
    }

    .expertise-section {
        flex-direction: column;
        padding: 20px;
    }

    .member {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 30px;
    }

    .post-card {
        flex-direction: column;
        align-items: center;
    }
    .footer{
        flex-direction: column;
        padding: 40px;
      }

      .footer-second{
        flex-direction: column;
      }

}